/*****************************************************
    normal tag selectors
 *****************************************************/

/* wildcard to remove margin and padding */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    max-width: 50%;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, form {
    font-family: sans-serif;
}

button {
    height: 3em;
    padding: 1em;
    min-width: 4em;
    width: 8em;
    max-width: 8em;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5em;
    cursor: pointer;
}

form {
    color: darkblue;
}

legend {
    font-family: Helvetica, sans-serif;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: orangered;
}

fieldset {
    margin-top: 1.3em;
    border-radius: 1em;
    background-color: lightskyblue;
    height: 100%;
    padding: 0.65em;
    vertical-align: middle;
}

fieldset label,
fieldset input {
    zoom: 1.0;
    margin: 0.2em 0;
}

fieldset label {

}

fieldset input {

}

/****************************************************************
    id selectors
 ****************************************************************/

#main-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;;
}

#form-section {
    height: 100%;
    max-height: 150%;
    margin: -1.25em 0 1em 1.5em;
    text-align: center;
}

#headers-section {
    background-color: lightseagreen;
    margin: 1em 1em 0.5em 0.85em;
}

#form-section, #headers-section, .container-width {
    display: block;
    border-radius: 1.2em;
    padding: 0.3em;
    width: 100%;
}

#button-section {
    width: 30%;
}

#div-section {
    width: 80%;
}

#section-container {
    display: flex;
    flex-direction: row;
}

#button-section > div {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    color: darkred;
    text-align: center;
    font-size: 2em;
}

#subtitle {
    color: darkgreen;
    margin-left: 10em;
}

/* Customize the buttons */
[id^="button-violet"] {
    border: 2px solid #ff00dd;
    color: #ff61dc;
    font-weight: bold;
}

/* div violet */
.violet {
    border: 2px solid #ff00dd;
    color: #ff61dc;
}

.black {
    color: white;
}

[id^="button-blue"] {
    border: 2px groove #ff0000 !important;
    color: red;
}

[id^="button-black"] {
    border: yellow solid 2px;
    color: white;
}

[id^="button-white"] {
    border: cyan solid 2px;
    color: deepskyblue;
    font-weight: bold;
}

[id^="button-red"] {
    border: fuchsia solid 2px;
    color: white;
}

[id^="button-green"] {
    border: darkred outset 5px !important;
    color: #ff61dc;
}

[id^="button-"] {
    display: flex;
    justify-content: center;
    align-items: center;
}


#submit {
    width: 3.5em;
    margin-left: 0.5em;
}


#footer {

}

#fuck {
    margin-top: auto;
    text-align: center;
    color: fuchsia;
    margin-top: 2em;
}

#header {
    text-align: center;
    color: midnightblue;
}

#color {

}

#name {

}

[id^="container-"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/*****************************************
    class selectors
 ******************************************/

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-item {
    flex-direction: column;
    margin-bottom: -2.3em;
    justify-content: center;
    align-content: center;
}
/* margin top | right | bottom | left */
/* margin top and botton, left and right */
.div-colored {
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    height: 1em;
}

.p-color {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.color-input-div label, .name-input-div label {
    margin-right: 0.33em;
}

.color-input-div {
    margin-bottom: 1.5em;
}

.name-input-div {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.collapse-div {
    padding: 0;
    text-align: center;
}

/*********************************************************
    combined selectors
 *********************************************************/
