/*****************************************************
    normal tag selectors
 *****************************************************/

/* wildcard to remove margin and padding */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 50%;
    max-width: 50%;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, form {
    font-family: sans-serif;
}

button {
    height: 3em;
    padding: 1em;
    min-width: 8em;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5em;
    cursor: pointer;
}

form {
    color: darkblue;
}

/****************************************************************
    id selectors
 ****************************************************************/

#main-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;;
}

#form-section {
    background-color: lightcyan;
    height: 100%;
    max-height: 150%;
    margin: 0.5em 0 1em 1.5em;
}

#headers-section {
    background-color: lightseagreen;
    width: 102.5%;
    margin: 1em 1em 0.5em 0.85em;
}

#form-section, #headers-section {
    display: block;
    border-radius: 1.2em;
    padding: 1.3em;
    width: 100%;
}

#button-section {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    color: darkred;
    text-align: center;
    font-size: 2em;
}

#subtitle {
    color: darkgreen;
    margin-left: 10em;
}

/* Customize the buttons */
[id^="button-violet"] {
    border: 2px solid #ff00dd;
    color: #ff61dc;
    font-weight: bold;
}

/* div container or other childs */
#container-violet > div,
#container-violet:not(button) > * {
    border: 2px solid #ff00dd;
}

[id^="button-blue"] {
    border: 2px groove #ff0000 !important;
    color: red;
}

[id^="button-black"] {
    border: yellow solid 2px;
    color: white;
}

[id^="button-white"] {
    border: cyan solid 2px;
    color: deepskyblue;
    font-weight: bold;
}

[id^="button-red"] {
    border: fuchsia solid 2px;
    color: white;
}

[id^="button-green"] {
    border: darkred outset 5px !important;
    color: #ff61dc;
}

[id^="button-"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {

}

#fuck {
    margin-top: auto;
}

[id^="container-"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/*****************************************
    class selectors
 ******************************************/

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-item {
    flex-direction: column;
    margin-bottom: -2.3em;
    justify-content: center;
    align-content: center;
}

.div-colored {
    margin: 3.35em 0 1em -4.35em;
    width: 100% !important;
    display: flex;
    justify-content: center;
    border-radius: 0.2em;
    cursor: pointer;
}

.p-color {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

/*********************************************************
    combined selectors
 *********************************************************/
